<form #loginForm="ngForm">
    <h1>Sign in</h1>
    <div class="third_party_signIn">
        <i class="iconss pi pi-facebook"></i>
        <i class="icons pi pi-google"></i>
        <i class="icons pi pi-linkedin"></i>
    </div>
    <p>or use your account</p>
    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-envelope" />
        <input type="text" pInputText placeholder="Email" class="input_field" name="username" ngModel #username="ngModel" required email/>
    </p-iconField>
    <div class="err_msg" *ngIf="username.invalid && (username.dirty) || (username.touched) ">
        <p *ngIf="username.errors?.['required']">Email is required</p>
        <p *ngIf="username.errors?.['email']">Invalid email</p>
    </div>

    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-lock" />
        <input type="text" pInputText placeholder="Password" class="input_field" name="password" ngModel #password="ngModel" required [minlength]="8"/>
    </p-iconField>
    <div class="err_msg" *ngIf="password.invalid && (password.touched) || (password.dirty)">
       <p *ngIf="password.errors?.['required']">Password is required</p>
       <p *ngIf="password.errors?.['minlength']">Password must contains atleast 8 characters long</p>
    </div>
    <p class="forget_password">Forget your password?</p>
    <p-button label="Sign In" (onClick)="authenticateInfo(loginForm)"/>
</form>

  


