<form>
    <h1>Sign in</h1>
    <div class="third_party_signIn">
        <i class="iconss pi pi-facebook"></i>
        <i class="icons pi pi-google"></i>
        <i class="icons pi pi-linkedin"></i>
    </div>
    <p>or use your account</p>
    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-envelope" />
        <input type="text" pInputText placeholder="Username" class="input_field"/>
    </p-iconField>
    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-lock" />
        <input type="text" pInputText placeholder="Password" class="input_field"/>
    </p-iconField>
    <p class="forget_password">Forget your password?</p>
    <p-button label="Sign In" />
</form>

  
  