  <form>
     <h1>Create Account</h1>
     <div class="inside_form">
       <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-user"/>
          <input type="text" pInputText placeholder="Username" class="input_area"/>
       </p-iconField>
  
       <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-envelope" />
          <input type="email" pInputText placeholder="Email" class="input_area"/>
       </p-iconField>
  
       <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-lock" />
          <input type="password" pInputText placeholder="Password" class="input_area"/>
       </p-iconField>
  
       <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-unlock" />
          <input type="password" pInputText placeholder="Confirm Password" class="input_area"/>
       </p-iconField>
       <p-button label="Sign Up" />
     </div>
  </form>
  